<settings version="2">
    <setting id="timeshiftBufferPath" default="true">special://userdata/addon_data/inputstream.ffmpegdirect/timeshift</setting>
    <setting id="timeshiftEnableLimit" default="true">true</setting>
    <setting id="timeshiftOnDiskLength" default="true">1</setting>
    <setting id="useHttpProxy" default="true">false</setting>
    <setting id="httpProxyHost" default="true" />
    <setting id="httpProxyPort" default="true">8080</setting>
    <setting id="httpProxyUser" default="true" />
    <setting id="httpProxyPassword" default="true" />
    <setting id="streamBandwidth" default="true">0</setting>
    <setting id="allowFFmpegLogging" default="true">false</setting>
    <setting id="probeForFps" default="true">true</setting>
    <setting id="enableTeletext" default="true">true</setting>
    <setting id="useFastOpenForManifestStreams" default="true">true</setting>
    <setting id="forceRealtimeOffCatchup" default="true">false</setting>
</settings>
