<settings version="2">
    <setting id="points-per-line">250</setting>
    <setting id="line-thickness">4</setting>
    <setting id="line-red" default="true">0.5</setting>
    <setting id="line-green" default="true">0.5</setting>
    <setting id="line-blue" default="true">0.5</setting>
    <setting id="bg-red" default="true">0</setting>
    <setting id="bg-green" default="true">0</setting>
    <setting id="bg-blue" default="true">0</setting>
</settings>
